/* Se aplican estilos sobre elementos de tipo clase en HTML */
.opera{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightseagreen;

}
.resul{
    color: rgb(255, 230, 0);
    font-size: 20px;
}