body{
    background-color: beige;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategrey;
}

.cali{
    display: flex;
    width: 500px;
    height: auto;
    align-items: center;
    flex-flow: column wrap;

    margin: 5px;
    margin-left: 0px;
    color: black;
    
    padding: 10px;
    border-radius: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkgrey;
}

div button{
    width: 180px;
    height: 25px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;

    border-radius: 3px;
    margin: 5px;
    margin-left: 0px;


    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;

}

div button:hover{
    color: green;
    background-color: white;
    border-style: inset;

}

.datosExtras{
    display: flex;
    width: 500px;
    height: auto;
    flex-flow: column wrap;
    align-items: center;

    margin: 5px;
    margin-left: 0px;
    color: white;
    
    padding: 10px;
    border-radius: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkblue;

}

p {
    font-size: 15px;
}
